<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056282680716-igc3nl277kebv0ai96eq46fpa0iv6qe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056282680716-igc3nl277kebv0ai96eq46fpa0iv6qe2</string>
	<key>API_KEY</key>
	<string>AIzaSyBjO82YcMSDkEq3QRqKRGPQSZtYsI7U2gM</string>
	<key>GCM_SENDER_ID</key>
	<string>1056282680716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viuts.fof</string>
	<key>PROJECT_ID</key>
	<string>dev-fof</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-fof.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056282680716:ios:9d30990b6fad101d484aa9</string>
</dict>
</plist>